<p id="notice"><%= notice %></p>

<h1>Semesters</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @semesters.each do |semester| %>
      <tr>
      <%if semester.current == 1 %>
        <td style="font-weight:bold;font-size:20px; color:green"><%= semester.name %></td>
        
      <% else %>
        <td><%= semester.name %></td>
        <td><%= link_to 'Select it as current semester', select_current_sem_path(semester.id) %></td>
      <% end %>
        <td><%= link_to 'Show Courses', specific_course_path(semester.id) %></td>
        <td><%= link_to 'Edit', edit_semester_path(semester) %></td>
        <td><%= link_to 'Destroy', semester, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add a Semester', new_semester_path %>
