<%= render 'shared/navbar_student' %>


<div class="container" style="margin-top: 0px;">
<div class="row">
<div class="col-md-2">

</div>
      <div class="table-responsive col-md-8">
        <table class="table">
          <tr>
          
          <tr>
            <th colspan="2">
              <h5 class="text-center">Available Courses for <%= @crntSemester.name %></h5>
            </th>
            <th colspan="4">
              <form action="/see_courses" class="d-flex justify-content-end">
                <input class=" form-control me-2" type="search" placeholder="Search" name="search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
            </th>
          </tr>
          <tr><th colspan="6"></th></tr>
          </tr>
          <tr >
            <th width="30%">Courseid</th>
            <th width="30%">Coursename</th>
            <th width="10%">Credit</th>
            <th width="30%"></th>
          </tr>
          <% @pub = false %>
          <% if !(@result == nil || @result.gpa == nil) %>
            <% @pub = true %>
            <tr><h4 class="bg-warning">Can't enroll, result has already been published</h4></tr>
          <% end %>
            
            <% @availableCourses.each do |course| %>
              <tr>
                <td><%= course.courseId %></td>
                <td><%= course.courseName %></td>
                <td><%= course.credit %></td>
                <%if @pub == false %>
                    <% if @alreadyEnrolled.include?course.id %>
                        <td class="d-flex justify-content-center" style="margin-left:15px; margin-right:15px"><b>Allready Enrolled</b></td>
                    <% else %>
                    <td><%= link_to 'Enroll',
                        enrollments_path(:enrollment => { :semester_id => @crnt, :course_id => course.id, :student_id => current_student.id} ),
                        class:"btn btn-info d-flex justify-content-center",
                        style:"margin-left:15px; margin-right:15px",
                        method: :post,
                        data: { confirm: 'Are you sure?' } %>
                        </td>
                    <% end %>
              <% end %>
              </tr>
            <% end %>
      </table>

        </table>
      </div>


    </div>
  </div>
</div>