<p id="notice"><%= notice %></p>

<h1>Enrollments</h1>

<table>
  <thead>
    <tr>
      <th>Semester</th>
      <th>Course Id</th>
      <th>Course Name</th>
      <th>Credit</th>
      <th>Marks</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |enrollment| %>
      <tr>
        <td><%= enrollment.semester.name %></td>
        <td><%= enrollment.course.courseId %></td>
        <td><%= enrollment.course.courseName %></td>
        <td><%= enrollment.course.credit %></td>
        <td><%= enrollment.marks %></td>
        <td><%= link_to 'Remove', enrollment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

