<h1>Result published</h1>


<h3>Hi <%= @student.name%>!</h3>
<p>
  The result of semester <%= @semester.name %> has been published.
</p>

<h1>Result</h1>
<p>----------------------------------------------------------</p>
<p>----------------------------------------------------------</p>
<table>
  <thead>
    <tr>
      <th>Course Id</th>
      <th>Course Name</th>
      <th>Credit</th>
      <th>Marks</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |enrollment| %>
      <tr>
        <td><%= enrollment.course.courseId %></td>
        <td><%= enrollment.course.courseName %></td>
        <td><%= enrollment.course.credit %></td>
        <td><%= enrollment.marks %></td>
      </tr>
    <% end %>
  </tbody>
  
</table>
<p>----------------------------------------------------------</p>
<p>----------------------------------------------------------</p>
<h2>
  Your gpa is :<%= @result.gpa %>
</h2>
