<%= render 'shared/navbar_admin' %>
<div class="container">
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8" id="contactForm">
      <h3 class="text-center">ALL THE STUDENTS</h3>


      <div class="table-responsive">
        <table class="table">
          <tr>
            <th class="text-center" width="10%">Studentid</th>
            <th class="text-center" width="25%">Student Name</th>
            <th class="text-center" width="30%">Email</th>
            <th class="text-center" width="10%">Mobile</th>
            <th width="25%"></th>
          </tr>
          <% @student.each do |s| %>
            <tr>
              <td class="text-center"><%= s.id %></td>
              <td class="text-center"><%= s.name %></td>
              <td class="text-center"><%= s.email %></td>
              <td class="text-center">0<%= s.mobile %></td>
              <td class="text-center"><%= link_to "Update Marks", update_mark_path(s.id), class: "btn btn-success text-white" %></td>
            </tr>
          <% end %>
        </table>

        </table>

      </div>
    </div>
    <div class="col-md-2">
    </div>
  </div>

</div>
