<div class = "container">
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8" id="contactForm">
        <h1>Welcome to Admin Panel</h1>
        <h3>Current semester is <%= @currentSemester.name %></h3>
        <%=link_to "Show All semester" , semesters_path %>
        <%=link_to "Show All courses" , courses_path %>
        <%=link_to "Show All students" , students_path %>
        <%=link_to "Manage Admins" , admins_path %>
        <%= link_to "Signout", logout_path ,method: :delete, class:"btn btn-danger text-white", style:"margin:5px"%>
        </div>
    <div class="col-md-2">
    </div>
  </div>
</div>
            